
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: #f5f5f5; /* Color pastel */
  }
  
  .form-control::placeholder {
    color: #666;
    font-family: inherit;
  }
  
  .items-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  
  .items-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  
  .width-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    width: 100%; /* Ajusta el ancho al 100% */
  }
  
  .items-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  
  .width-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .width-divs > div {
    height: 5px;
  }
  
  .width-99 {
    width: 99%;
    background-color: #fff;
  }
  
  .width-98 {
    width: 98%;
    background-color: #fff;
  }
  